.post{
    background-color: white;
    max-width: 500px;
    border: 1px solid lightgray;
margin-bottom: 45px;
}
.post_img{
    width: 50%;
    height: 40%;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.post_text{
    font-weight: normal;
    padding: 20px;
}
.post_header
{
    display: flex;
    align-items: center;
    padding: 20px;
}
.post_avatar{
    margin-right: 10px;

}